.hero {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 2rem;
  margin-bottom: 12rem;
  background: transparent !important;
}

.img-logo {
  margin-top: 4rem;
  width: 300px;
  border-radius: 70px;
  border: 7px solid rgba(135, 115, 115, 0.37);
  box-shadow: 0 0 25px rgba(6, 182, 212, 0.15)
}

.hero-content {
  max-width: 800px;
}

.hero-title {
  font-size: 2rem;
  font-weight: 600;
}

.hero-subtitle {
  font-size: 1.1rem;
  font-weight: 600;
  opacity: 0.9;
  margin-top: 0.5rem;
  color: #9ca3af;
}

.hero h1 {
  font-size: 3rem;
  margin-top: 1.5rem;
  font-weight: bold;
  letter-spacing: -0.05em;
}

.hero h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #06b6d4;
  font-weight: 700;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  line-height: 1.6;
  color: #d1d5db;
}





@media(max-width: 423px) {
  .hero h1 { font-size: 32px; }
  .hero h2 { font-size: 22px; }
  .hero p { font-size: 16px; text-align: center; }
  .img-logo { width: 200px; }
}


@media(max-width: 423px) {
    .img-logo {
    margin-top: 4rem;
    width: 250px;
    border-radius: 70px;
    border: 7px solid rgba(135, 115, 115, 0.37);
    box-shadow: #FFFFFF 2px 2px 8px;
  }
}

@media(max-width:423px) {
  .hero .hero-subtitle {
    font-size: 14px;
    text-align: center;
  }
}



