.main-container{
  margin-top: 15rem;
  margin-bottom: 10rem;
}

.main-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 7rem;
  font-size: 21px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
  font-weight: 500;
  color: #f67280;
}

.main-content h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
  font-weight: bold;
  color: #FFFFFF;
}

.skills-grid{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  gap: 2rem;
}

.skill-item{
 width: 350px;
 background-color: transparent;
 border: 3px solid #8383834e;
 opacity: 1;
 box-shadow: #FFFFFF 3px 1px 2px 2px;
 text-align: center;
 border-radius: 15px;
 padding-left: 10px;
 padding-right: 10px;
 padding-bottom: 30px;
 padding-top: 30px;
 height: 375px;
 background: linear-gradient(30deg, #515170, #1c1c28);
 position: relative;
 overflow: hidden;
 transition: all 0.5 ease;

 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 gap: 5px;
 align-items: center;
}

.skill-item::before{
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(0deg, transparent, transparent 30%, rgba(0,255,255,0.3));
  transform: rotate(-45deg);
  transition: all 1s ease;
  opacity: 0;
}

.skill-item:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0,255,255,0.5);
}

.skill-item:hover::before{
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
  
}

.skill-image {
  width: 130px;
  height: 120px;
  margin-bottom: 10px; 
}

.skill-name{
  font-family: Arial, Helvetica, sans-serif;  
  font-size: 15px;
  font-weight: 500;
  color: #FFFFFF;
  text-align: start;
  margin-left: 1rem;
  z-index: 2;
  flex-grow: 1;
  align-self: flex-start;
  margin-top: 0;
}

@media(max-width:423px) {
  .main-content {
    margin-left: 1rem;
    
  }

   .main-content h2  {
    font-size: 25px;
    justify-content: center;
    text-align: start;
    
  }

   .main-content p {
    font-size: 15px;
    margin-top: 20px;
  }

  .skills-grid {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;
        margin-bottom: 5rem;
        height: auto;
        padding: 0 1rem;
    }

  .skill-item {
    width: 100%;
    max-width: 350px;
  }


}


 
 

 
    



