
.About-page {
    background: linear-gradient(130deg, #51515a, #13131b);
    border-radius: 12px;       
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); 
    padding: 30px;             
    margin: 50px auto;        
    max-width: 800px;          
    width: 90%;                
    display: flex;
    flex-direction: column;
    gap: 20px; 
    
}


.About-title h1 {
    font-size: 2.2em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
    font-weight: 600;
    font-style: italic;
    color: #d7d5d5; 
    border-bottom: 2px solid #aba7a7; 
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.About-name h2 {
    font-size: 1.4em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #e3698c;
    font-weight: 400; 
}

.About-main p {
    line-height: 1.6; 
    color: #FFFFFF;
    text-align:left; 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-top: 1rem;
}

.current-text p {
    font-size: 1.2em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
}

.work-text {
    font-size: 1.2em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
}

.btn-certification {
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    background-color: #c9b5c2ed;
    color: #040500b1;
    box-shadow: 1px 1px 2px 1px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
}

.btn-certification:hover {
    transition: ease-in 0.3s;
    color: #ece7e7;
}

.btn-resume {
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    background-color: #c9b5c2ed;
    color: #040500b1;
    box-shadow: 1px 1px 2px 1px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
}

.btn-resume:hover {
    transition: ease-in 0.3s;
    color: #ece7e7;
}

.fetch-data {
    color: #FFFFFF;
}

.fail-data {
    color: #FFFFFF;
}

.cert{
    display: flex;
    gap: 1rem;
}

.btn-text {
    color: #FFFFFF;
    font-size: 1.2rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: 400;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.about-logo {
    animation: fadeIn 1s ease-in forwards;
    width: 250px;
    border-radius: 20px;
    opacity: 0;
    border: 2px solid rgba(227, 105, 140, 0.3); 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}


@media (max-width: 600px) {
    .About-page {
        padding: 20px; 
        margin: 20px auto;
        border-radius: 8px;
    }
    .About-title h1 {
        font-size: 1.8em;
    }
}