
.About-page {
    background: linear-gradient(130deg, #51515a, #13131b);
    border-radius: 12px;       
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); 
    padding: 30px;             
    margin: 50px auto;        
    max-width: 800px;          
    width: 90%;                
    display: flex;
    flex-direction: column;
    gap: 20px; 
}


.About-title h1 {
    font-size: 2.2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #e3698c; 
    border-bottom: 2px solid #aba7a7; 
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.About-name h2 {
    font-size: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #e3698c;
    font-weight: 400; 
}

.About-main p {
    line-height: 1.6; 
    color: #FFFFFF;
    text-align:left; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

.current-text p {
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: #FFFFFF;
}

.btn {
  background-color: #e3698c;
  outline: none;
}

.fetch-data {
    color: #FFFFFF;
}

.fail-data {
    color: #FFFFFF;
}

.cert{
    display: flex;
    gap: 1rem;
}

.custom-dropdown .btn-primary {
    background-color: #e3698c;
    border-color: #51515a;
}

.custom-dropdown .dropdown-menu {
  background-color: #9da0a1;
}

.custom-dropdown .dropdown-item{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 20px;
}

.custom-dropdown .dropdown-item:hover {
  background-color: transparent; 
  transition: ease-in-out 0.3s;
  color: #c53838;
  text-decoration: underline;
  text-decoration-color: #13131b;              
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.about-logo {
    animation: fadeIn 1s ease-in forwards;
    width: 250px;
    border-radius: 20px;
    opacity: 0;
}



@media (max-width: 600px) {
    .About-page {
        padding: 20px; 
        margin: 20px auto;
        border-radius: 8px;
    }
    .About-title h1 {
        font-size: 1.8em;
    }
}