@media (min-width: 423px) {
  
  .contact-body {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .contact-ways {
    flex: 1;
    min-width: 250px;
    margin-right: 0;
  }
  
  .contact-form-right {
    flex: 2;
    min-width: 300px;
    margin-left: 0;
  }

  .form-text {
    width: 100%;
  }
}

@media (min-width: 768px) {
  input, textarea {
    max-width: 500px;
  }
}


.contact-body {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
  flex: 0 0 auto;
  flex-wrap: wrap; 
  flex-direction: row;
}

.contact-ways {
  flex: 1;
  min-width: 200px;
  margin-right: 0;
}

.contact-ways h2 {
  margin-bottom: 15px;
  font-size: 19px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  text-align: start;
  margin-right: 2rem;
  color: #e3698c;
}

.contact-ways ul {
  margin-top: 2rem;
  margin-left: 1rem;
  font-size: 20px;
  font-weight: bold;
  list-style: none;
  padding: 0;
}

.contact-ways i {
  margin-right: 8px; 
  color: #bbaaaa;   
  font-weight: bold;
}


.contact-ways li {
  display: flex;
  align-items: center;
  gap: 8px; 
  margin-bottom: 10px;
}


.contact-ways a {
  color: #e3698c;
  text-decoration: none;
  transform: color 0.3s;
}

.contact-ways a:hover {
  color: #ffb6b9;
}

.contact-title h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family:'Times New Roman', Times, serif;  
  font-size: 43px;
  font-weight: bold;
  text-align: center;
  margin-top: 10rem;
}

.contact-form-right {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  margin-left: 0;
  box-sizing: border-box;
  padding: 1rem;
}



.contact-form {
  background: linear-gradient(30deg, #363637, #32324e);
  padding: 50px;
  border: 1px solid #979494;
  border-radius: 12px;
  box-shadow: 1px 5px 15px rgba(166, 170, 172, 0.991);
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 5rem;
}



.input-title {
  margin-bottom: 10px;
  color: #FFFFFF;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

.email-text {
  margin-top: 2rem;
  vertical-align: top;
  resize: vertical;
}

.form-text {
  margin-top: 2rem;
}

textarea {
 width: 100%;
 max-width: 400px;
 padding: 10px;
 box-sizing: border-box;
 border-radius: 10px;
 font-family: 'Times New Roman', Times, serif;
 font-size: 17px;
 font-weight: 500;
}

input {
  width: 100%;
  max-width: 400px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid red;
}



.error {
  color: #f44336;
  font-size: 15px;
  margin-top: 5px;
}

.errors.email {
  color:#f44336;
  font-size: 15px;
  margin-top: 5px;
}

.input-error {
  border: 2px solid red;
  color: red;;
}

.input-valid {
  border: 2px solid #423f3f;
  color: green;
}


.form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  font-size: 17px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  margin-top: 1rem;
  border: 1px solid #e3dfdf;
  border-radius: 10px;
  background: linear-gradient(10deg, rgb(37, 36, 36), rgb(48, 48, 48) 30%, rgba(60, 58, 58, 0.991));
  color: #fcfbfb;
}

button:hover{
  cursor: pointer;
  color: #99949478;
  transition: 0.3s ease-in-out;
}

.contact-alert-container {
  position: absolute;
  top: -2%;
  left: 50%;
  transform: translateX(-50%);
  width: 53%;
  z-index: 1000;
}

.custom-alert {
  transition: opacity 1.5s ease;
  opacity: 1;
}

.custom-alert.hide  {
  opacity: 0;
}
