.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  flex-direction: column;
  padding: 0 2rem;
  flex-wrap:  wrap;
}

.Logo {
  width: 12%;
  margin-top: 2rem;
  border: 8px solid #FFFFFF;
  padding: 4px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 8px;
  
}

.headline-text {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  font-size: 56px;
  color: #FFFFFF;

  display: inline-block;     
  white-space: nowrap;       
  overflow: hidden;          
  

  text-align: center;        
  animation: typing 2s steps(21, end) forwards,
             blink 0.75s step-end forwards;
}

@keyframes typing {
  0% { width: 0; opacity: 0; }
  10% { opacity: 1; }
  100% { width: 21ch; opacity: 1; }
}

.navbar {
  display: flex;
  gap: 2rem; 
}

a {
  color: #FFFFFF;
  text-decoration: none;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
  font-weight: bold;
  font-size: 20px;
  
}
