header {
  position: relative; 
  z-index: 1000;
}
.my-navbar a {
  color: #ffffff;
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
  font-weight: bold;
  font-size: 20px;
  transition: 0.15s ease-in-out;
}

.my-navbar a:hover {
  color: #7c7979;
}

.my-navbar a.active {
  color: #f67280;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.my-navbar {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
}


@media (max-width: 423px) {
  .menu-toggle {
    display: block;
    position: fixed;   
    top: 14px;
    right: 30px;
    z-index: 2100;
    color: #f67280;
    flex-shrink: 0;
    background: none;
    border: none;
    cursor: pointer;
  }

  .menu-toggle::after {
    display: none;
  }

  .my-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.95);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
  transition: transform 0.3s ease;
  z-index: 2000; 
}

.my-navbar.open {
  transform: translateY(0);
}

.my-navbar a {
  color: white;
  font-size: 2rem;
  margin: 20px 0;
  text-decoration: none;
}




  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
