.footer-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-copy{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  font-size: 15px;
  color: #FFFFFF;
  gap: 2rem;
}

.socials a {
  font-size: 2rem; 
  font-weight: bold;
  color: #dedbdb; 
  margin: 0 10px; 
}

a:hover{
  cursor: pointer;
  color: #c06c84;
}